Port 22
HostKey /etc/ssh/ssh_host_ed25519_key
PermitRootLogin no
PubkeyAuthentication yes
AuthorizedKeysFile /.ssh/authorized_keys
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
UseDNS no
Subsystem sftp /usr/lib/ssh/sftp-server
LogLevel QUIET